# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# Build results

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasen/
[Bb]in/
[Oo]bj/
TestResults/
artifacts/
publish/
x64/
x86/
[Aa][Rr][Mm]/
[Ll]ogs/
[Ll]og/
